/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: #ebfbff; 
  text-align:center;
  margin-bottom:10em;
}
/*STYLE HEADER*/

/* STYLE TEXT */
main{
 font-family: "Trebuchet MS", sans-serif; 
}



/* STYLE NAV BAR */
ul{
  list-style-type:none;
  background-color: #df8472;
  overflow:hidden;
  padding:0.1em;
  text-align:center;
}
li{
  display:inline;
}
li a {
  text-decoration:none;
  color:#ece0d9;
  font-size:1.5em;
/*Making nav bar accomodate more tabs*/
  padding:2em;
  font-family: "Trebuchet MS", sans-serif;
}
li a:hover{
  background-color:#d0664e;
}



/* Style H1 tags (Heading on home page) */
h1 {
  color:  #eb4d3d;
  font-size: 70px;
  line-height:2.0
  letter-spacing:2px;
  text-align:center;
  background-color: white;
  margin-left:1.5px;
  margin-right:1.5px;
  padding:20px;
  font-style: bold;
  border-top-style:solid;
  border-top-color:black;
  border-top-width:8px;
  border-bottom-style:solid;
  border-bottom-color:black;
  border-bottom-width:8px;
}
/*  Style All H2 tags (Quote on home , section heading on home page, different page headers) */
h2{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:20px;
  margin-right:20px;
  font-size:60px;
  padding:15px;
  font-style: bold;
  border-bottom-style:solid;
  border-bottom-color:black;
  border-bottom-width:8px;
}

/*Style all H3 tags (The most common mental disorders header,common treatments for these disorders)  */
h3{
 text-align:center;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:20px;
  margin-right:20px; 
  font-size:40px;
}

/*Style all H4 tags (Section headers for pages)  */
h4{
  padding:5px;
  font-size:25px;
  margin-top:10px;
  margin-bottom:10px;
  line-height:1.5em;
}
/*Style all H5 tags (Text above button, text below Most Common Mental Disorders- the note)*/
h5{
  font-size:18px;
}
/*Style all paragraph tags*/
p{
  margin-left: 60px;
  margin-right: 60px;
  text-align:center;
  /*padding:0.5em;*/
  line-height:1.9;
  font-weight:120;
  font-size:20px;
  padding-left:5em;
  padding-right:5em;
}

/*Style all images*/
/*img{
  border-style: solid;
  border-color:#bc5a45;
  border-width: 5px;
  max-height:30%;
  max-width:40%;
}*/

/* STYLE IMAGES */
img{
  max-height: 20%;
    max-width: 30%;
}




/*Style main headers on all pages*/
.pageHeader{
  color:#831100;
  border-bottom-style:solid;
  border-bottom-color:#474747;
  border-bottom-width:8px;
}




/*STYLE HOMEPAGE*/
/*Style top image on home page*/
#headerImage{
  padding:1.5em;
  max-width:100%;
  max-height:40%;
}
/*Style Quote on Home Page*/
#quote{
  float:right;
  margin-top:0px;
  margin-bottom:40px;
  margin-left:50px;
  margin-right:50px;
  padding:15px;
  border-style:solid;
  border-color:#969696;
  border-width: 30px;
  text-align:center;
  /*margin-top:10px;
  margin-bottom:10px;
  margin-left:20px;
  margin-right:20px;*/
  font-size:40px;  
 /* background-color:#f4e1d2*/
}
/*Style images below quote*/
#quote1{
  float:left;
    max-width:32%;
  padding:5px;
   max-height:20%;
  margin-left:15px:
}
#quote2{
  float:center;
    max-width:32%;
  padding:5px;
   max-height:20%;
  margin-top:15px;
  margin-bottom:15px;
}
#quote3{
  float:right;
  max-width:32%;
  max-height:20%;
  padding:5px;
  margin-right:15px;
}
/*Style main section*/
/*.mainissue{
  background-color:#dfc8c3;
}*/
/*Style image under the teen mental health crisis section on the home page*/
#guy_mirror{
  max-height:30%;
  max-width:30%;
  background-color:#7D7B77;
}
/*Style headers on the home page*/
.homeheaders{
  margin-top:28px;
  font-size: 40px;
}
/*Style Main Issue to make it standout*/
/*
#mainissuetitle{
  /*background-color:#7D7B77;*/
  /*background-color:#7D7B77;*/
  /*color:#1434A4;
  font-size: 60px;
}*/
/*
#mainissuefact{
  font-size:30px;
  color:#1434A4;
  font-weight:bold;
}
#mainissue{
  font-weight:bold;
  font-size:23px;
  color:#1434A4;
}
*/



/*Style fact generator*/
/*Style text above button*/
#labelButton{
  padding-top:1em;
  padding-bottom:1em;
  font-size:30px;
  background-color:#ece0d9;
 margin-top:2em;
}
/*Style button*/
#myBtn{
  display:block;
  margin:0 auto;
  padding:10px;
  margin-top:40px;
  margin-bottom:40px;
  font-size:30px;
  background-color:#ece0d9;
font-family: "Trebuchet MS", sans-serif;
}
/*Make button highlight when hovered*/
#myBtn:hover{
  background:#c3c1c1;
/*Style fact*/
#myFact{
  text-align:center;
  margin: 10px;
  font-style:bold;
  padding-left:30px;
  padding-right:30px;  
  /*color: #d0664e;
  font-style:bold;*/
}

  

/*STYLE COMMON DISORDERS+TREATMENTS HEADER*/

/*Make sure there is no space below common disorders header to leave space for the note*/
#commonDisorders{
  margin-bottom:0px;
}
/*Create space below the "there is a large range of mental disorders note on the Common Disorders + Treatments Page*/
#largeRange{
  padding-bottom:50px;
}
/*Style common treatments header*/
#commonTreatments{
  padding:40px;
  margin-top:4em;
}



  
/*STYLE BIBLIOGRAPHY PAGE*/
 a{
  padding: 50px;}

.websiteList{
  padding:0.5em;

  





  

 
/* STYLE BUTTONS */

/* ADD MORE! */

}


}
